@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./style/font.css";

body {
  margin: 0;
  font-family: neuzeit-grotesk, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img, svg {
  display: block;
  max-width: 100%;

}

button {
  background: 0 0;
  border: 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: inherit;
  overflow: visible;
  vertical-align: inherit;
}

video {
  width: 100%;
  vertical-align: middle;
}



nav {
  height: 80px;
}

.ul-top > * {
  margin: 0px 10px;
}

.button-natural{
  display: inline-block;
  position: relative;
}

@media screen and (min-width: 768px){
 .nav-link:hover:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 38px;
  display: block;
  height: 2px;
  margin-left: -19px;
  background-color: #e01e3c;
}
.footer-links:hover{
  color: #e01e3c;
}
 .footer-links:hover:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -14px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #e01e3c;
}
}
.search__container {
  max-height: 100vh;
  max-height: 100dvh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  overscroll-behavior-y: none;
  -ms-touch-action: none;
  touch-action: none;
}

.search__exit__bg {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  background: 0 0;
  border: 0 none;
}

.search__container.search_open {
  opacity: 1;
  visibility: visible;
}

.search-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  min-height: 100dvh;
  max-height: 100dvh;
}

@media screen and (min-width: 768px) {
  .search__form {
    background-color: #161616;
  }
}

.search__form {
  padding: 1rem 0;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.search-main button {
  overflow: visible !important;
}

.search__input input {
  padding: 0.6rem 5rem 0.6rem 3rem;
  border-radius: 25px;
  border: solid 3px #a7a6a6;
  background-color: #484848;
}

.search__input {
  margin: 0 auto;
  padding: 0;
  line-height: 1em;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, -webkit-transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s;
  transition: opacity 0.3s ease 0.2s, transform 0.3s ease 0.2s,
    -webkit-transform 0.3s ease 0.2s;
}

.search_open .search__input {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.search_open .search__choices {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.search__choices {
  padding: 2.5rem 2rem 1rem;
  margin: -1rem auto 0;
  -webkit-transform: translateY(1rem);
  transform: translateY(1rem);
  -webkit-transition: opacity 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  transition: opacity 0.3s ease 0.4s, -webkit-transform 0.3s ease 0.4s;
  transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s;
  transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s,
    -webkit-transform 0.3s ease 0.4s;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .search__choices {
    width: calc(100% - 5rem);
    padding: 2.5rem 3.75rem 1rem;
  }
  .search__choices:before {
    left: 3.75rem;
    width: calc(100% - 7.5rem);
  }
}

.search__choices:before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 2rem;
  border-top: 1px solid #484848;
  max-width: calc(1200px - 5rem);
  width: calc(100% - 4rem);
}

@media screen and (min-width: 768px) {
  .search__choices__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: auto;
    max-height: min(375px, calc(100dvh - 120px));
  }
}

@media screen and (min-width: 768px) {
  .search__choices__title {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
  }
}

@media (min-width: 1024px) {
  .h3,
  h3 {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .h3,
  h3 {
    font-size: 1.4666666667rem;
  }
}

@media screen and (min-width: 768px) {
  .search__popular__products {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 286px;
    flex: 0 0 286px;
  }
}

.search__popular__products,
.search__popular__support {
  color: #a7a6a6;
  padding: 0 1rem 0.5rem 0;
  display: table-cell;
}

.search__popular__products ul,
.search__popular__support ul {
  list-style: none;
}

.search__popular__products li,
.search__popular__support li {
  line-height: 1em;
}

.search__popular__products a,
.search__popular__support a {
  color: #fff;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 1rem;
  display: inline-block;
  font-size: 18px;
}

.search__popular__products h3,
.search__popular__support h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #a7a6a6;
  font-weight: 600;
  margin-bottom: 0.6666666667rem;
}

.beats-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

@media screen and (min-width: 1024px) {
  .beats-button .beats-btn:not(.beats-btn--link) {
    line-height: 39px;
    font-size: 1.0666666667rem;
    border-radius: 30px;
  }
}
.beats-button .beats-btn {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.1818;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.025rem;
}

.beats-button .beats-btn:not(.beats-btn--link) .beats-btn-inner {
  padding: 5px 25px 2px 25px;
}

@media screen and (min-width: 1024px) {
  .beats-button .beats-btn:not(.beats-btn--link) .beats-btn-inner {
    padding: 5px 37px 2px 37px;
    border-radius: 30px;
  }
}

.beats-button .beats-btn .beats-btn-inner {
  position: relative;
  z-index: 3;
  display: block;
  padding: 8px 30px 7px;
  border: 0 none;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transform: translate(0, 0) translate3d(0, 0, 0);
  transform: translate(0, 0) translate3d(0, 0, 0);
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
  margin: 0;
  white-space: pre-wrap;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  .beats-button .beats-btn-inner {
    padding: 5px 37px 2px 37px;
    border-radius: 30px;
  }
}

.beats-button span.beats-btn-mask {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  opacity: 1;
  -webkit-transform: translateY(106%);
  transform: translateY(106%);
  -webkit-transition: -webkit-transform 240ms ease-in;
  transition: -webkit-transform 240ms ease-in;
  transition: transform 240ms ease-in;
  transition: transform 240ms ease-in, -webkit-transform 240ms ease-in;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: 30px;
}

.beats-btn-mask.btn2-bg-hover-color-red {
  background-color: #c8102e !important;
}
.beats-btn-mask.btn2-bg-hover-color-white {
  background-color: #ffffff !important;
}

.beats-button .beats-btn:not(.beats-btn--link):after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  border: 0 none;
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
}

.beats-btn:hover .beats-btn-mask {
  transform: translateY(0);
}

.btn-transparent {
  background: transparent;
  border: 2px solid #fff;
}

.beats-btn[data-color="black"]:hover {
  color: #111;
}

.beats-btn[data-color="light"]:hover {
  color: #fff;
}

.btn-light {
  background-color: #ffffff;
}

@media screen and (min-width: 1024px) {
  .beats-button .beats-btn:not(.beats-btn--link):after {
    border-radius: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .btn-light {
    border: 2px solid #ffffff;
  }
  .btn-black {
    color: #fff;
    border: 2px solid #161616 !important;
    background-color: #161616;
  }
}

.gr-icon:last-child {
  margin-right: 0px;
}
.gr-icon > * {
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .global-footer {
    padding: 90px 0 60px 0;
  }
}

.global-footer {
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section-content--reboot {
    max-width: 1440px;
    padding: 0 60px;
  }
}
.section-content--reboot {
  margin: 0 auto;
  padding: 0 30px;
}

footer .logo {
  display: none;
  -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  flex: 0 0 25%;
}

@media (min-width: 1024px) {
  footer .logo {
    display: block;
  }
}

@media (min-width: 768px) {
  footer .links {
    display: block;
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
  }
}

@media (min-width: 1024px) {
  footer .links {
    -ms-flex: 0 0 75%;
    -webkit-box-flex: 0;
    flex: 0 0 75%;
  }
}

footer h2 {
  position: relative;
  font-size: 20px;
  margin-bottom: 23px;
  font-weight: 700;
  font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  line-height: 1.1 !important;
  padding-top: 0 !important;
}

@media (min-width: 1024px) {
  footer .h2,
  footer h2 {
    -webkit-margin-before: 0.7em;
    -webkit-margin-after: 1.15em;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
  }
}

footer .links ul {
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #757575;
  margin-bottom: 50px;
  list-style: none;
}

footer .links ul li {
  margin-bottom: 18px;
}

footer .links ul li a {
  color: #757575;
}

.social.social--spaced-row {
  margin-top: 15px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media screen and (min-width: 1024px) {
  .social.social--spaced-row {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .social.social--spaced-row li:first-child {
    margin-left: 0;
  }
}
@media screen and (min-width: 1024px) {
  .social.social--spaced-row li {
    margin: 0 8px;
    padding: 0 0 8px 0;
  }
}

.social.social--spaced-row li {
  margin: 0 20px 20px 0;
  padding: 0;
}

.social.social--spaced-row li svg {
  width: 25px;
  height: 25px;
}

@media screen and (min-width: 1024px){
.spacing-d200156a-09d2-35e7-a562-3e0c651bd89c {
  padding-top: 72px;
}}

@media screen and (min-width: 1024px){
.bbd-full-width-container.id-ac9b8c02-ab52-36e9-9e65-ea09f817972c:not(.bg-color-match-enabled) {
  background: #F0F0F0;
}
}

.bbd-full-width-container {
  position: relative;
  width: 100%;
  color: #161616;
}

@media screen and (min-width: 1024px){
.bbd-full-width-container.id-ac9b8c02-ab52-36e9-9e65-ea09f817972c .outer-container {
  width: 100%;
  max-width: 100%;
}}

@media screen and (min-width: 1024px){
.bbd-full-width-container.id-af2a60dc-fe19-34ee-abcc-422d0c541603 .outer-container {
  width: 100%;
  max-width: 100%;
}}
.bbd-full-width-container .outer-container {
  margin: 0 auto;
}

.bbd-full-width-container .outer-container .content-container {
  width: 100%;
  max-width: 100%;
}

a.card.card--light {
  color: #161616;
  background-color: #fff;
}

@media screen and (min-width: 768px){
a.card.card--large {
  width: 400px;
}}
a.card.card--large {
  width: 320px;
}
a.card {
  border-radius: 18px;
  color: #fff;
  background-color: #161616;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: -webkit-box-shadow .3s ease,-webkit-transform .3s ease;
  transition: -webkit-box-shadow .3s ease,-webkit-transform .3s ease;
  transition: box-shadow .3s ease,transform .3s ease;
  transition: box-shadow .3s ease,transform .3s ease,-webkit-box-shadow .3s ease,-webkit-transform .3s ease;
  width: auto;
  -webkit-box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
  box-shadow: 2px 4px 12px rgb(0 0 0 / 10%);
  overflow: hidden;
}

a.card:active, a.card:hover {
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
  -webkit-box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
  box-shadow: 2px 4px 16px rgb(0 0 0 / 16%);
}

.card--custom-c9a0c5be-a94f-3b1e-a064-9775a52a384b{
  width: 410px !important;;
}
.card--custom-5cbcb94d-54b1-378c-ae5b-b7ed1e4fe813{
      width: 410px !important;;
  }
  .card--custom-97d3f467-b892-3747-a1dc-33cb93416268{
        width: 410px !important;;
    }

    .row-carousel {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
    }

    .row-carousel .row-carousel__inner {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    @media screen and (min-width: 768px){
    ul.dots.dots--hide-lg {
      display: none;
    }}
    
    .row-carousel .dots {
      margin-bottom: 15px;
    }
    @media screen and (min-width: 1024px){
    ul.dots {
      max-width: 840px;
    }}
    @media screen and (min-width: 768px){
    ul.dots {
      width: auto;
      max-width: 630px;
      overflow-x: auto;
      overflow-y: hidden;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
    }}
    ul.dots {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 0;
      padding: 0;
      width: 100%;
    }
    .row-carousel .row-carousel__next:disabled, .row-carousel .row-carousel__prev:disabled {
      opacity: 0;
      pointer-events: none;
    }
    .row-carousel .row-carousel__prev {
      left: 60px;
    }
    .row-carousel .row-carousel__next {
      right: 60px;
    }
    .row-carousel .row-carousel__next, .row-carousel .row-carousel__prev {
      opacity: 0;
      -webkit-transition: background-color .3s ease,opacity .7s cubic-bezier(.15,0,.2,1) .1s,-webkit-transform .5s ease-in;
      transition: background-color .3s ease,opacity .7s cubic-bezier(.15,0,.2,1) .1s,-webkit-transform .5s ease-in;
      transition: background-color .3s ease,transform .5s ease-in,opacity .7s cubic-bezier(.15,0,.2,1) .1s;
      transition: background-color .3s ease,transform .5s ease-in,opacity .7s cubic-bezier(.15,0,.2,1) .1s,-webkit-transform .5s ease-in;
      background: rgba(88,88,88,.25);
      vertical-align: middle;
      border-radius: 50px;
      font-size: 2rem;
      -webkit-transform: scale(.8);
      transform: scale(.8);
      z-index: 1;
      height: 80px;
      width: 80px;
      position: absolute;
      top: calc(50% - 40px);
      padding: 0;
    }
    
    button:disabled {
      cursor: default;
    }

    .row-carousel.row-carousel--scrollless .row-carousel__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .row-carousel .row-carousel__content {
      margin: 0;
      padding: 0;
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      overflow: auto;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 100%;
      scrollbar-width: none;
    }



    .row-carousel .row-carousel__prev svg {
      -webkit-transform: translateX(-3px);
      transform: translateX(-3px);
    }
    .row-carousel .row-carousel__next svg, .row-carousel .row-carousel__prev svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      margin: 0 auto;
    }

    .row-carousel .row-carousel__next svg {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    .row-carousel .row-carousel__next svg, .row-carousel .row-carousel__prev svg {
      width: 30px;
      height: 30px;
      fill: #fff;
      margin: 0 auto;
    }

    .row-carousel .row-carousel__content ul {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0;
    }

    .row-carousel.row-carousel--scrollless .row-carousel__content li:first-child {
      margin-left: 0;
    }
    
    .row-carousel.row-carousel--scrollless .row-carousel__content li {
      -webkit-transform: none;
      transform: none;
    }
    .row-carousel .row-carousel__content li {
      margin: 20px 0 25px;
      padding: 0 10px;
      -ms-scroll-snap-coordinate: left;
      scroll-snap-coordinate: left;
      scroll-snap-align: flex-start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      scroll-snap-stop: normal;
    }

    .row-carousel.row-carousel--scrollless .row-carousel__content li {
      -webkit-transform: none;
      transform: none;
    }
    
    .row-carousel .row-carousel__content li {
      margin: 20px 0 25px;
      padding: 0 10px;
      -ms-scroll-snap-coordinate: left;
      scroll-snap-coordinate: left;
      scroll-snap-align: flex-start;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      scroll-snap-stop: normal;
    }

    .row-carousel.row-carousel--scrollless .row-carousel__content li:last-child {
      margin-right: 0;
    }

    .row-carousel.row-carousel--scrollless .row-carousel__content li .row-carousel--offset {
      -webkit-transform: none;
      transform: none;
    }
    @media screen and (min-width: 768px){
    .row-carousel .row-carousel__content li .row-carousel--offset {
      -webkit-transform: translateX(10px);
      transform: translateX(10px);
    }}
    .row-carousel .row-carousel__content li .row-carousel--offset {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      -webkit-transform-origin: left;
      transform-origin: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }

    @media screen and (min-width: 768px){
.row-carousel .row-carousel__content li .row-carousel--tween {
  -webkit-transform: scale(1)!important;
  transform: scale(1)!important;
}
}
.row-carousel .row-carousel__content li .row-carousel--tween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0) scale(.85);
  transform: translateX(0) scale(.85);
}
@media screen and (min-width: 768px){
a.card.card--large {
  width: 400px;
}}
a.card .card__content-top {
  padding: 30px 30px 0;
  margin-bottom: auto;
  line-height: 1em;
}

.font-updated {
  font-family: neuzeit-grotesk','Helvetica Neue','Helvetica','sans-serif;
}

.pdp-med-body {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
a.card>img {
  max-height: 295px;
  margin-left: auto;
  margin-right: auto;
}
a.card .card__content-bottom {
  padding: 0 30px 30px;
  margin-top: auto;
  line-height: 1em;
}


@media screen and (min-width: 1024px) {
  .spacing-adcf7e8e-fe6c-3900-ac0b-44941e65157e {
      padding-top: 72px;
  }}
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .spacing-adcf7e8e-fe6c-3900-ac0b-44941e65157e {
      padding-top: 40px;
  }}
  @media screen and (max-width: 767px) {
  .spacing-adcf7e8e-fe6c-3900-ac0b-44941e65157e {
      padding-top: 48px;
  }}

  
  @media screen and (min-width: 1024px) {
    .spacing-8252e0f1-38fa-35e0-8d49-eef171a39bf8 {
        padding-top: 72px;
    }}
    @media screen and (min-width: 768px) and (max-width: 1023px) {
    .spacing-8252e0f1-38fa-35e0-8d49-eef171a39bf8 {
        padding-top: 40px;
    }}
    @media screen and (max-width: 767px) {
    .spacing-8252e0f1-38fa-35e0-8d49-eef171a39bf8 {
        padding-top: 48px;
    }}

    
    @media screen and (min-width: 1024px) {
      .spacing-bbd51411-cf56-3ed3-8da7-0b5f31354e9a {
          padding-top: 48px;
      }}
      @media screen and (min-width: 768px) and (max-width: 1023px) {
      .spacing-bbd51411-cf56-3ed3-8da7-0b5f31354e9a {
          padding-top: 40px;
      }}
      @media screen and (max-width: 767px) {
      .spacing-bbd51411-cf56-3ed3-8da7-0b5f31354e9a {
          padding-top: 48px;
      }}

      @media (min-width: 1024px){
.beatsRTE-desktoptext {
  display: inline;
}}

@media screen and (min-width: 1024px){
.bbd-full-width-container.id-9e828d28-79b2-33d2-bae9-ab4a1f20a854 .outer-container {
  width: 91.66666%;
  max-width: 1170px;
}}

.bbd-full-width-container .outer-container {
  margin: 0 auto;
}

.bbd-img-text-component.transition {
  width: 100%;
}

.bbd-img-text-component {
  position: relative;
  margin-bottom: 0;
}

.bbd-img-text-component::before {
  clear: both;
  content: "";
  display: block;
}

.bbd-img-text-component .content-wrapper {
  overflow: hidden;
  margin: 0 auto;
}
.bbd-img-text-component .sticky-text {
  overflow: unset;
}


.bbd-img-text-component.transition .transition-image-wrapper {
  width: 100%;
}

.bbd-img-text-component .content-wrapper .transition-image-wrapper {
  background: 0 0;
  overflow: hidden;
}

.bbd-img-text-component.transition .transition-image-wrapper .transition-image-block {
  position: relative;
}

.bbd-img-text-component .transition-image-wrapper .transition-image-block {
  padding: 0;
}

@media screen and (min-width: 1024px){
.bbd-img-text-component .transition-image-wrapper .transition-image-block {
  padding: 0;
}}

.bbd-img-text-component.transition .transition-image-wrapper .transition-image-block .beats-picture {
  position: relative;
}

.bbd-img-text-component.transition .transition-image-wrapper .transition-image-block .beats-picture img {
  -webkit-transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: opacity .4s ease-out,transform .4s ease-out;
  transition: opacity .4s ease-out,transform .4s ease-out,-webkit-transform .4s ease-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  width: 100%;
  opacity: 0;
}

.bbd-img-text-component.transition.animate .transition-image-wrapper .beats-picture img {
  opacity: 1;
}

.bbd-img-text-component.id-2c278a19-a646-349c-979c-edc17c8d8b46 .transition-image-block.beats-media-type-image::before, .bbd-img-text-component.id-2c278a19-a646-349c-979c-edc17c8d8b46 .transition-image-block .video-wrapper .beats-video-block::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(22,22,22,0) 55%, rgba(22,22,22,0.09989933473389356) 62%, rgba(22,22,22,1) 98%, rgba(22,22,22,1) 100%);
  z-index: 1;
}

@media screen and (min-width: 1024px){
.bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper {
  padding: 0 0;
}}

@media screen and (min-width: 1024px){
.bbd-img-text-component .content-wrapper .transition-content-wrapper {
  padding: 0;
  top: 0;
  min-height: 100%;
}}
.bbd-img-text-component .content-wrapper .transition-content-wrapper {
  padding: 0;
}
@media screen and (min-width: 1024px){
.bbd-img-text-component.transition .transition-content-wrapper {
  position: absolute;
  width: 100%;
}}

.bbd-img-text-component .sticky-text .transition-content-wrapper .content-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: unset;
}

@media screen and (min-width: 1024px){
.bbd-img-text-component .content-wrapper .transition-content-wrapper .content-column {
  min-height: inherit;
  min-width: 100%;
  position: absolute;
  margin: initial;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}}
@media screen and (min-width: 1024px){
.bbd-img-text-component .content-column {
  max-width: 1440px;
  width: 100%;
}}
.bbd-img-text-component .content-column {
  position: relative;
  margin: -3px auto 0 auto;
  margin-top: 0;
}

@media screen and (min-width: 1024px){
.bbd-img-text-component.animate .content-wrapper .transition-content-wrapper .content-column .hero-copy.bottom-left {
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}}

.bbd-img-text-component.transition.animate .transition-image-wrapper+.transition-content-wrapper .content-column .hero-copy {
  opacity: 1;
}
.bbd-img-text-component .sticky-text .transition-content-wrapper .content-column .hero-copy.bottom-left {
  margin-top: auto;
  bottom: 0;
}
.bbd-img-text-component.animate .sticky-text .transition-content-wrapper .content-column .hero-copy {
  -webkit-transform: translateY(0)!important;
  transform: translateY(0)!important;
}
.bbd-img-text-component.transition .transition-image-wrapper+.transition-content-wrapper .content-column .hero-copy {
  -webkit-transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: opacity .4s ease-out,transform .4s ease-out;
  transition: opacity .4s ease-out,transform .4s ease-out,-webkit-transform .4s ease-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
}
@media screen and (min-width: 1024px){
.bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.bottom-center, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.bottom-left, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.bottom-right, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.middle-center, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.middle-left, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.middle-right, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.top-center, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.top-left, .bbd-full-width-container .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.top-right {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}}
@media screen and (min-width: 1024px){
.bbd-img-text-component.id-2c278a19-a646-349c-979c-edc17c8d8b46 .content-wrapper .transition-content-wrapper .hero-copy {
  max-width: 50%;
}}
.bbd-img-text-component .sticky-text .transition-content-wrapper .content-column .hero-copy {
  position: sticky;
  top: 0!important;
  left: 0!important;
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}
@media screen and (min-width: 1024px){
.bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy.bottom-left {
  bottom: 0;
  left: 0;
  margin: auto auto 0 0;
}}
.bbd-img-text-component.animate .content-wrapper .transition-content-wrapper .hero-copy {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy {
  padding-bottom: 5px;
}
@media screen and (min-width: 1024px){
  .bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy {
    max-width: 460px;
    z-index: 998;
    padding: 4.16667%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    pointer-events: none;
  }}
@media screen and (min-width: 1024px){
.overlay-text-block .hero-copy.bottom-left {
  bottom: 0;
  left: 0;
  margin: auto auto 0 0;
}}
.overlay-text-block .hero-copy {
  bottom: 0;
  left: 0;
  margin: auto auto 0 0;
}

@media screen and (min-width: 1024px){
.bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy>* {
  pointer-events: auto;}
}


@media screen and (min-width: 1024px){
.bbd-img-text-component .content-wrapper .transition-content-wrapper .hero-copy>* {
  pointer-events: auto;
}}

.bbd-img-text-component .show-desktop :not(.price) {
  color: #fff;
}
.beats-cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}


@media screen and (min-width: 1024px) {
  .spacing-fa27c283-98f3-3383-a93f-9b317daaa31b {
      padding-top: 60px;
  }}
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .spacing-fa27c283-98f3-3383-a93f-9b317daaa31b {
      padding-top: 30px;
  }}
  @media screen and (max-width: 767px) {
  .spacing-fa27c283-98f3-3383-a93f-9b317daaa31b {
      padding-top: 30px;
  }}

  
  .card--custom-a00e493e-e404-34e5-82e0-8f3f78e8068e{
    width: 333px !important;;
}


.card--custom-7898d267-d7ed-31d7-8148-9b8250afcc86{
  width: 333px !important;;
}


@media screen and (min-width: 1024px) {
  .spacing-f6042a6d-15d6-3761-91c2-fde15fb8d5db {
      padding-top: 60px;
  }}
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .spacing-f6042a6d-15d6-3761-91c2-fde15fb8d5db {
      padding-top: 30px;
  }}
  @media screen and (max-width: 767px) {
  .spacing-f6042a6d-15d6-3761-91c2-fde15fb8d5db {
      padding-top: 30px;
  }}

  
  .card--custom-c41ad996-d634-3884-9816-4d7b949324e3{
    width: 333px !important;;
}


.card--custom-26766e90-9565-3d3e-8f49-5855522b154a{
  width: 333px !important;;
}


.card--custom-96f9898e-713f-3794-8233-739b02ffe81f{
  width: 333px !important;;
}

@media screen and (min-width: 1024px){
.bbd-full-width-container.id-0972d83f-1215-3db3-a507-db5fa34ac38e:not(.bg-color-match-enabled) {
  background: #F0F0F0;
}}

.row-carousel .row-carousel__prev {
  left: 60px;
}

.row-carousel .row-carousel__next {
  right: 60px;
}

.bbd-full-width-container.bg-color-match-enabled.id-761203e2-972a-3997-971b-a8ba6be1a4e1 {
	background: #030708;
}

@media screen and (min-width: 1024px) {
	.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1:not(.bg-color-match-enabled) {
		background: #030708;
	}

	.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1 .outer-container {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1:not(.bg-color-match-enabled) {
		background: #030708;
	}
	.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1 .outer-container {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 767px) {
	.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1:not(.bg-color-match-enabled) {
		background: #030708;
	}
	.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1 .outer-container {
		width: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 1024px){
.bbd-full-width-container.id-761203e2-972a-3997-971b-a8ba6be1a4e1:not(.bg-color-match-enabled) {
  background: #030708;
}}

.beats-cta-container .button-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: calc(-1 * 20px);
}

.beats-cta-container--align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.beats-cta-container .button-container .beats-button {
  margin-top: 20px;
}


@media screen and (min-width: 1024px) {
  .spacing-a71f2364-3aa2-3668-a8ab-2ea739bc92d1 {
      padding-top: 64px;
  }}
  @media screen and (min-width: 768px) and (max-width: 1023px) {
  .spacing-a71f2364-3aa2-3668-a8ab-2ea739bc92d1 {
      padding-top: 40px;
  }}
  @media screen and (max-width: 767px) {
  .spacing-a71f2364-3aa2-3668-a8ab-2ea739bc92d1 {
      padding-top: 30px;
  }}

  
	@media screen and (min-width: 768px) and (max-width: 1023px) {
		
		.bbd-img-text-component.id-eef58d55-4e3d-3ace-8e69-005513ad9fc9 .tablet-side-by-side-config-1x .bbd-1X-image .content-column .bbd-1X-image-text-column {
			width: 60%;
		}
		.bbd-img-text-component.id-eef58d55-4e3d-3ace-8e69-005513ad9fc9 .tablet-side-by-side-config-1x .bbd-1X-image .content-column .bbd-1X-image-picture-block {
			flex: 1;
		}
		
	}
	@media screen and (min-width: 1024px) {
		/* styles to set custom maxWidth for text */
		
		
		/* style for 1X Config */
		.bbd-img-text-component.id-eef58d55-4e3d-3ace-8e69-005513ad9fc9 .bbd-1X-image .content-column .bbd-1X-image-text-column {
			width: 60%;
		}
		.bbd-img-text-component.id-eef58d55-4e3d-3ace-8e69-005513ad9fc9 .content-wrapper section.bbd-1X-image .content-column
		.bbd-1X-image-text-block {
			width: 100%;
			max-width: 100%;
		}
		
		
	}


  @media screen and (min-width: 1024px){
.bbd-full-width-container.id-c5c8f9cf-7215-3b3e-909d-1d87a3fa1266:not(.bg-color-match-enabled) {
  background: linear-gradient(180deg, #7A7A7A 0%, #1A1A1A 77.59%);
}}

.animate {
  opacity: 1;
}

.bbd-img-text-component .bbd-1X-image {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px){
.bbd-img-text-component .bbd-1X-image .content-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}}

.bbd-img-text-component .bbd-1X-image.animate .content-column .bbd-1X-image-picture-block .pyt-target {
  -webkit-transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: opacity .4s ease-out,-webkit-transform .4s ease-out;
  transition: opacity .4s ease-out,transform .4s ease-out;
  transition: opacity .4s ease-out,transform .4s ease-out,-webkit-transform .4s ease-out;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media screen and (min-width: 1024px){
.bbd-img-text-component .bbd-1X-image.bbd-1X-flip .bbd-1X-image-picture-block {
  padding-left: 4.16667%;
  padding-right: 0;
}}

@media screen and (min-width: 1024px){
.bbd-img-text-component .bbd-1X-image .content-column .bbd-1X-image-picture-block {
  padding-right: 4.16667%;
}}
@media screen and (min-width: 1024px){
.lg-col-6 {
  position: relative;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
}}

.bbd-img-text-component.id-2a7927b4-96ba-3a6f-ae34-eee7b94f3cd9 .transition-image-block.beats-media-type-image::before, .bbd-img-text-component.id-2a7927b4-96ba-3a6f-ae34-eee7b94f3cd9 .transition-image-block .video-wrapper .beats-video-block::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background: linear-gradient(180deg, rgba(22,22,22,0) 55%, rgba(22,22,22,0.09989933473389356) 62%, rgba(22,22,22,1) 98%, rgba(22,22,22,1) 100%);
  z-index: 1;
}